*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color:#000000;
    color: #ffffff;
}
#main-desktop-view{
    width: 100%;
    height:100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    text-transform: capitalize;
}
#main-mobile-view{
    display: none;
}
@media screen and (max-width:950px) {
    main{        
        background-color: rgba(247, 175, 175, 0.397);
    }
    #main-desktop-view{
        display: none;
    }
    #main-mobile-view{
        display: flex;
    }
    /* HERO STYLES  */
    /* START  */
    #hero{
        padding: 3vh 6vh;
        min-height: 90vh;
        display:flex;
        place-items: center;
        justify-content: center;
    }
    #hero-main-ctn{
        background-color: #ffffff;
        color: rgb(243, 49, 49);
        padding: 3vh 20px;
        border-radius: 80px;
        border: 0.6vh dotted rgba(247, 175, 175, 0.397);
        text-align: center;
    }
    .author-name{
        text-transform: uppercase;
        letter-spacing: 1vh;
        font-size:12px;
    }
    .job-title{
        text-transform: uppercase;
        font-size: 42px;
    }
    #hero-bio{
        line-height: 3vh;
        font-size: 16px;
    }
    /* END  */
}

