*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color:#000000;
    color: #ffffff;
}
#main-desktop-view{
    width: 100%;
    height:100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    text-transform: capitalize;
}
#main-mobile-view{
    display: none;
}
@media screen and (max-width:950px) {
    main{        
        background-color: rgb(247, 175, 175);
    }
    #main-desktop-view{
        display: none;
    }
    #main-mobile-view{
        display: flex;
    }
}

